.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@github/**
!node_modules/koffi/**
!node_modules/vscode-jsonrpc/**
!node_modules/zod/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
